# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.enigma-prime.iml
# Datasource local storage ignored files
/../../../../../../../../:\Github\enigma-prime\2\enigma-prime\.idea\.idea.enigma-prime\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
