@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@model IEnumerable<enigma_prime.Data.Password>
@inject UserManager<IdentityUser> userManager
@* @inject string currentUser = *@
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-8">
        <h1>
            @if (User.IsInRole("Admin"))
            {
                @Html.Raw("Admin Panel")
            }
            else
            {
                @Html.Raw("User Panel")
            }
        </h1>

    </div>
    <div class="col-4">
        <a class="btn btn-outline-success float-right" asp-action="Create"><i class="fas fa-plus-circle"></i> Create</a>
    </div>
</div>
<partial name="_TablePartial"/>

